<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>standard-procedure-of-math-and-science-IOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2CF9D46425622A8E00B3F1AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CF9D47A25622A8E00B3F1AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CF9D48525622A8E00B3F1AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
